body {
    overflow: hidden;
}

.App {
    background-color: #EBEBEB;
}
.Auth-form-container {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 30px 10px;
    height: 100vh;
}

.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    align-self: start;
    margin-top: 20px;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

.Auth-form-content label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.Auth-form-content button {
   background-color: #C7906B !important;
   border-color: #C7906B !important;
}

.Auth-form-content a {
    color: #6DA4B0 !important;
}

#logo {
    width: 70%;
    object-fit: contain;
    
}

#cover-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 1045px) {
    #container {
        display: grid;
        grid-template-rows: 20% 80%;
        grid-template-columns: 100%;
    }
    #main-container {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: center;
        align-self: end;
        z-index: 10;
    }

    .Auth-form-container {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    

    #cover-container {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
}

@media screen and (min-width: 1046px) {
    #container {
            display: grid;
            grid-template-rows: 20% 80%;
            grid-template-columns: 55% 45%;
        }
    
    #main-container {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: center;
        align-self: end;
    }

    #cover-container {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }

    .Auth-form-container {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}