.App {
  text-align: center;
  background-color: #EBEBEB;
}

body {
  overflow: hidden;
}

a {
  color: #6DA4B0 !important;
}

/* sign up styling  */
#container {
  background-color: #EBEBEB;
}

.Auth-form-container-sign-up {
  background-image: url("./assets/Books_Login.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

}

.Auth-form-sign-up {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  margin-top: 2%;

}

.Auth-form-content-sign-up {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title-sign-up {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.Auth-form-container-sign-up label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.Auth-form-container-sign-up button {
  background-color: #C7906B !important;
  border-color: #C7906B !important;
}

.Auth-form-container-sign-up btn:hover {
  background-color: #8a644b !important;

}

/* login page styling */
.Auth-form-container-login {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 30px 10px;
  height: 100vh;
}

.Auth-form-login {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  align-self: start;
  margin-top: 20px;
}

.Auth-form-content-login {
  padding-left: 12%;
  padding-right: 12%;
}

#cover-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-shadow: 12px 0px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 0px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 0px 20px -10px rgba(0, 0, 0, 0.75);
}

.Auth-form-title-login {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}


@media screen and (max-width: 1045px) {
  #container {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
  }

  #main-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: end;
    z-index: 10;
  }

  .Auth-form-container-login {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }


  #cover-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
}

@media screen and (min-width: 1046px) {
  #container {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 55% 45%;
  }

  #main-container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: end;
  }

  #cover-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  .Auth-form-container-login {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

#logo {
  width: 70%;
  object-fit: contain;

}

.Auth-form-login label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.Auth-form-login button {
  background-color: #C7906B !important;
  border-color: #C7906B !important;
}


/* saved books styling */
#saved-books-container {
  margin-bottom: 55px;
  /* padding: 50px 0 50px 20px; */
  min-height: 100%;

}

#saved-books-container .col-sm-2 {
  background-color: #EBEBEB;
  padding: 50px 10px 0 20px;
  height: 100vh;
  position: fixed;
}

#saved-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.saved-book {
  padding: 20px;
  margin: 0 10px 20px 10px;
  background-color: white;
  border-radius: 5%;
  width: 300px;
}

.saved-book h1 {
  font-size: large;
  font-weight: bold;
  margin-top: 8px;
}

.saved-book h2 {
  font-size: large;

}

.saved-book p {
  margin-bottom: 8px;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #9ab7c6 !important;

}

.nav-pills a {
  color: black !important;
}


/* Footer styling */

.main-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #d6d6d6;

}

.main-footer p {
  margin-top: 10px;
}

/* Navbar styling */
.nav-bar {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.694);
  z-index: 1001;
}


@media screen and (max-width: 1200px) {
  .nav-bar {
    background-color: #ebebeb;
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    position: fixed;
    top: 0%;
    padding-left: 0%;
    padding-right: 0%;

  }
}

@media screen and (min-width: 1200px) {
  .nav-bar {
    background-color: #ebebeb;
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    position: fixed;
    top: 0%;
    padding-left: 0%;
    padding-right: 0%;

  }
}

@media screen and (max-width: 768px) {
  .nav-bar {
    background-color: #ebebeb;
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    position: fixed;
    top: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
}

@media screen and (max-width: 500px) {
  .nav-bar {
    background-color: #ebebeb;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    position: fixed;
    top: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
}


.nav-bar-logo {
  height: auto;
  width: 50%;
  position: relative;

}


#responsive-navbar-nav {
  background-color: #EBEBEB;


}

.navbar-collapse.collapsing,
.navbar-collapse.show {

  padding-left: 0%;
  padding-right: 0%;
  margin-left: 0;
  margin-right: 0;
  height: 185px;

}

/* BOOKSEARCH SECTION  */

#books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.book {
  margin: 10px;
  width: 300px;
  padding: 10px;
  border-radius: 5%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 225px 60px 50px 50px;
}

.book h1 {
  font-size: large;
  grid-row: 2/3;
  grid-column: 1/4;
  justify-self: center;
  align-self: start;
  padding-top: 10px;
}

.book h2 {
  font-size: medium;
  grid-row: 3/4;
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
}

.book img {
  margin-bottom: 10px;
  height: 225px;
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/4;
}

.book-dropdown {
  grid-row: 4/5;
  grid-column: 1/4;
  justify-self: center;
}

#dropdown-basic {
  background-color: #C7906B;
  border: none;
}

.book a:hover {
  border-bottom: solid #6DA4B0;
}

/* HOME SECTION */
.homeBody {
  background-image: url("./assets/Books_Login.jpg");
  background-size: cover;
  width: auto;
  height: 89vh;
  margin: 0;

  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;

}

.homeBody::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Book Club Section */

.ce-message-bubble {
  background-color: #6DA4B0 !important;
}

.ce-primary-button {
  background-color: #C7906B !important;
  height: 40px !important;


}

.anticon-menu,
.anticon-setting,
.anticon-close {
  color: #6DA4B0 !important;
  background-color: #d6d6d6;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.ce-active-chat-card {
  background-color: #ebebeb !important;
}

.ce-chat-form-container {

  background-color: #6DA4B0 !important;
  margin-left: 0 !important;
  text-align: center;
  color: #373c40;
}

.ce-settings {
  color: #373c40;
}

.ce-chat-title {
  -webkit-box-shadow: 0px 21px 26px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 21px 26px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 21px 26px -29px rgba(0, 0, 0, 0.75);
}

.ce-chat-title-text,
.ce-chat-subtitle-text {
  color: #C7906B;
}

.ce-chat-list-mobile-option,
.ce-chat-settings-mobile-option {
  color: #373c40 !important;
}

.ce-chat-settings-mobile-option>div>div>div {
  color: #373c40 !important;
}

#ce-send-message-button {
  color: #6DA4B0 !important;
  background-color: #6DA4B0 !important;
}

.ce-settings {
  background-color: #d6d6d6 !important;
}

.ce-chats-container {
  background-color: #d6d6d6 !important;
}

.ce-chat-settings-container {
  margin-top: 5px;
  margin-bottom: 10px;

}

.ce-person-title-container {
  margin-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#ce-options-drop-down {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* THIS GETS RID OF THE SCROLL BARS */
::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}